.b-top {
  -webkit-font-smoothing: antialiased;
  background: #F3F7F8;
}

.b-app {
  background: #F3F7F8 !important;
  color: #222 !important;
}

.b-app .gray {
  color: #8d9ea7 !important;
}

.navbar-header .profile-pic {
  padding: 0 12px;
  line-height: 60px;
  min-height: 60px;
}

.b-top .b-app .notify .point {
  background-color: #E66544;
}

.b-top .b-app .notify .heartbit {
  border-color: #E66544;
}

.b-top .b-app .b-notification-0 {
  padding: 0 20px;
}

.b-top .b-app .b-notification-1 {
  font-weight: 500;
  font-size: 14px;
  color: #7F7F7F;
  padding-bottom: 13px;
}

.b-top .b-app .b-notification-2 {
  font-weight: 500;
  margin: 5px 0 -1px 4px;
  font-size: 14px;
}

.b-top .b-app .b-notification-3 {
  font-size: 13px !important;
  white-space: normal !important;
}

.b-top .b-app .b-notification-4 {
  margin: 5px 0 -1px 4px;
  font-size: 14px;
  white-space: normal;
  line-height: 19px;
}

.b-top .b-app .b-notification-5 {
  border: 0;
}

.b-top .b-app .b-notification-dropdown li a:hover {
  background: rgba(0,0,0,.05);
}


.subsidebar a.active:first-child li {
  font-weight: 500;
}

.news-card-title {
  color: #222;
  font-size: 15px;
}

.news-card-title2 {
  width: auto !important;
  height: 33px !important;
  line-height: 18px;
  margin-bottom: -2px;
}

.b-news-10 img {
  width: 38px !important;
  height: 38px !important;
  margin: 0 0 0 7px !important;
}

.b-news-11 {
  font-size: 15px;
  margin-bottom: -3px;
  display: block;
}

.b-news-11 + .gray {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-news-12 p {
  line-height: 17px;
  height: 52px !important;
  margin-top: -14px;
}

.b-news-13 {
  margin-top: -5px;
  margin-bottom: -1px;
}

.opinion-images img {
  width: 19px !important;
  height: 19px !important;
}

.opinion-count {
  margin-left: 10px !important;
}

.news-card {
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.01);
}

.b-news-9 {
  padding: 0px 6px 11px 17px;
}

.btn-success,
.btn-success:active,
.btn-success:hover {
  background-color: #48b383;
  border-color: #48b383;
}

.request-mentor {
  background: #E8F1F5 !important;
  border: 1px solid #D7E4EA;
}

.user-card-props {
  color: #222;
}

.user-card-props tbody {
  color: #8d9ea7;
}
