.b-top {
  -webkit-font-smoothing: antialiased;
  background: #F3F7F8;
}

.b-app,
.b-app .footer,
.b-app .footer p {
  background: #F3F7F8 !important;
  color: #2b2b2b !important;
}

#side-menu li a {
  font-weight: 400 !important;
  -webkit-font-smoothing: initial;
}

#page-wrapper {
  background: none !important;
}

.b-app .gray {
  color: #7f7f7f !important;
}

.b-app img {
  /*image-rendering: -webkit-optimize-contrast;*/
}

.navbar-header .profile-pic {
  padding: 0 12px;
  line-height: 60px;
  min-height: 60px;
}

.b-top .b-app .notify .point {
  background-color: #F75B36;
}

.b-top .b-app .notify .heartbit {
  border-color: #F75B36;
}

.b-top .b-app .b-notification-0 {
  padding: 0 20px;
}

.b-top .b-app .b-notification-1 {
  font-weight: 500;
  font-size: 14px;
  color: #7F7F7F;
  padding-bottom: 13px;
}

.b-top .b-app .b-notification-2 {
  font-weight: 500;
  margin: 5px 0 -1px 4px;
  font-size: 14px;
}

.b-top .b-app .b-notification-3 {
  font-size: 13px !important;
  white-space: normal !important;
}

.b-top .b-app .b-notification-4 {
  margin: 5px 0 -1px 4px;
  font-size: 14px;
  white-space: normal;
  line-height: 19px;
}

.b-top .b-app .b-notification-5 {
  border: 0;
}

.b-top .b-app .b-notification-dropdown li a:hover {
  background: rgba(0,0,0,.05);
}


.subsidebar a.active:first-child li {
  font-weight: 500;
}

.news-card-title {
  color: #2b2b2b;
  font-size: 15px;
}

.news-card-title2 {
  width: auto !important;
  height: 33px !important;
  line-height: 18px;
  margin-bottom: -2px;
}

.b-news-10-0 {
  width: 66px;
}

.b-news-10 img {
  width: 38px !important;
  height: 38px !important;
  margin: 0 0 0 7px !important;
}

.b-news-11 {
  font-size: 15px;
  margin-bottom: -3px;
  display: block;
}

.b-news-11 + .gray {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.b-news-12 p {
  line-height: 17px;
  height: 52px !important;
  margin-top: -14px;
}

.b-news-13 {
  margin-top: -5px;
  margin-bottom: -1px;
}

.opinion-images img {
  width: 23px !important;
  height: 23px !important;
  border: 2px solid #fff;
}

.opinion-count {
  margin-left: 10px !important;
}

.news-card {
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.01);
}

.b-news-9 {
  padding: 0 6px 11px 17px;
}

.btn-success,
.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  background-color: #48b383;
  border-color: #48b383;
}

.request-mentor {
  background: #E8F1F5 !important;
  border: 1px solid #D7E4EA;
}

.user-card-props {
  color: #2b2b2b;
}

.user-card-props tbody {
  color: #7f7f7f;
}

.b-filters {
  color: #7f7f7f;
}

.b-filters-1 {
  -webkit-font-smoothing: initial;
}

.b-mentors-card-6 {
  width: 169px;
}

.b-mentors-card-10 {
  line-height: 22px;
  margin-top: 14px;
}

.b-mentors-card-10 .fa {
  font-size: 12px !important;
  color: #7f7f7f;
  margin-left: -6px !important;
}

.b-mentors-card-10 .fa-location-arrow {
  font-size: 14px !important;
  margin-left: -8px !important;
}

.b-mentors-card-9 {
  margin-top: 3px;
}

.b-mentors-card-8 {
  border: 0;
  position: relative;
}

.b-mentors-card-8:after {
  content: '';
  border-bottom: 1px solid rgba(0,0,0,.075);
  height: 1px;
  overflow: hidden;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
}

.user-card-props {
  margin-top: 6px !important;
  padding-left: 11px !important;
}

.b-mentors-card-7 {
  padding-left: 15px;
}

.select2-selection,
input[type=text],
input[type=email],
input[type=search],
input[type=password] {
  border-color: rgba(0,0,0,.085) !important;
}

.bg-danger {
  background: #F75B36 !important;
}

.img-user-card {
  max-width: 155px;
}

.table-props td {
  padding-left: 7px !important;
}

.b-profile-9 {
  margin-bottom: 20px;
}

.b-profile-10 {
  margin-bottom: 10px;
  margin-top: -2px;
  font-size: 15px;
}

.b-profile-11 {
  line-height: 22px;
}

.b-profile-13 {
  margin: 1px 0 9px 0 !important;
}

.b-profile-14 {
  padding: 12px 0 11px 0;
  margin-left: 20px;
  max-width: 220px;
}

.b-profile-15 {
  font-size: 11px !important;
  letter-spacing: 0.04em;
}

.b-profile-16 {
  margin: 3px 0 2px 0 !important;
}

.b-profile-17 {
  font-size: 13px;
}

.b-profile-18 {
  margin-left: 17px !important;
  margin-top: 25px !important;
  position: relative;
}

.b-profile-19 {
  font-size: 15px;
  margin-top: 3px;
}

.b-profile-20 {
  line-height: 22px;
}

.b-profile-11 .fa-star,
.b-profile-20 .fa-star {
  padding-right: 1px;
}

.b-profile-21 {
  position: absolute;
  bottom: 23px;
  right: 15px;
  margin: 0 !important;
}

.steamline .sl-right {
  padding-left: 0 !important;
}

.b-profile-22 {
  box-shadow: none !important;
  padding: 25px 0 0 0;
}

.sl-date {
  font-size: 13px;
  display: block;
}

.b-app blockquote {
  font-size: 14px;
}

.b-profile-29 {
  padding-right: 0 !important;
  margin-right: 10px !important;
}

.b-profile-30 a:first-child {
  color: #2b2b2b !important;
}

.b-app .text-info {
  color: #4e83a2;
  font-size: 14px;
}

.b-profile-32 {
  color: #7f7f7f;
  font-size: 13px;
}

.b-profile-32 > span > p:first-child {
  margin-bottom: 1px !important;
}

.b-profile-32 .text-info {
  font-size: 14px;
  line-height: 13px;
}

.b-profile-32 img {
  padding-right: 17px !important;
}

.sl-right .m-l-40 > div:first-child {
  font-size: 15px;
}

.user-mentors,
.user-mentees {
  font-weight: 500;
  margin: 17px 0 0 0;
}

.b-question-9 {
  margin-bottom: 23px;
}

.b-question-9 a,
.b-question-9 a:hover {
  color: #2b2b2b;
}

.b-question-10 {
  height: auto !important;
  text-transform: none;
  line-height: 20px;
}

html {
  min-width: 0;
}

#app,
.bg-title {
  max-width: none !important;
}

.b-question-8 {
  display: block;
  margin-bottom: 10px;
  font-size: 15px !important;
  margin-top: -7px;
}

.b-question-7 {
  height: 36px !important;
  padding-top: 8px !important;
  transition: none !important;
}

#question-container.active .b-question-7 {
  height: 100px !important;
  border-radius: 3px 3px 0 0 !important;
  border-color: rgba(0,0,0,.3) !important;
  border-bottom-color: rgba(0,0,0,.1) !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.02) !important;
}

.b-question-4 {
  margin-top: -5px;
}

.b-question-6 {
  display: none;
  margin-bottom: 27px !important;
}

#question-container.active .b-question-6 {
  display: block;
}

.b-question-6 {
  background: rgba(0,0,0,.02);
  margin: -26px 7.5px 17px 7.5px;
  padding: 13px 13px;
  border-style: solid;
  border-color: rgba(0,0,0,.3) !important;
  border-width: 0 1px 1px 1px !important;
  border-bottom: 1px solid rgba(0,0,0,.045);
  border-radius: 0 0 3px 3px;
}

.b-question-6 .select2-search__field {
  margin-top: 7px !important;
  margin-left: 6px;
}

.b-question-6 .select2-selection,
.checkbox label::before {
  border-color: rgba(0,0,0,.15) !important;
}

.b-question-5 {
  margin-top: 3px;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.select2-container--default .select2-results__group {
  font-weight: normal;
  color: #7f7f7f;
}

.b-modal .fade.in.modal {
  display: block;
}

.b-modal-10 {
  padding-left: 50px;
  padding-right: 50px;
}

.b-modal-9 {
  font-size: 16px;
}

.b-modal-8 {
  font-weight: normal;
  line-height: 19px;
  margin-bottom: 14px;
}

.b-modal-7 {
  font-size: 22px !important;
  line-height: 26px !important;
  font-weight: normal !important;
  text-transform: none !important;
}

.b-modal-6 {
  box-shadow: none;
}

.b-modal-11 {
  margin: 27px -30px 7px -30px;
}

.b-modal-12 {
  font-weight: 500;
  font-size: 15px;
}

.user-pick-bg {
  margin-left: -30px;
  padding-left: 30px;
  width: calc(100% + 60px);
  padding-right: 30px;
}

.profile-card-label {
  padding: 2px 7px !important;
  vertical-align: text-top !important;
  line-height: 16px;
  margin-left: 2px;
}

.b-modal-13 {
  line-height: 20px;
}

.b-modal-13 a {
  color: #222;
}

.b-modal-14 {
  margin-right: 11px;
  margin-top: -7px;
}

.b-modal-14 img {
  width: 50px !important;
  height: 50px !important;
}

.b-modal-15 {
  line-height: 19px;
  margin-top: 5px;
  margin-bottom: 11px;
}

.lead-delimiter {
  margin-bottom: 8px;
}

.b-modal-16 {
  height: 29px;
  padding: 0 10px 0 10px;
  font-size: 13px;
}

.b-modal-17 {
  margin-bottom: 25px;
}

.b-modal-16.btn-default {
  border-color: rgba(0,0,0,.3);
  color: rgba(0,0,0,.5);
}

.b-modal-18 {
  width: 100% !important;
}

.b-modal-19 {
  margin-bottom: -10px;
}

.img-modal-header {
  height: 250px !important;
}

.b-signup-10 {
  background: #2D77B0 !important;
  border-color: #2D77B0 !important;
  font-size: 16px;
  padding: 13px 0 12px 0;
  -webkit-font-smoothing: initial;
}

.b-signup-10 .fa {
  font-size: 19px;
  margin-right: 6px;
  vertical-align: middle;
  margin-top: -2px;
}

.b-signup-9 {
  font-size: 20px;
  line-height: 26px;
}

.b-signup-8 {
  font-size: 16px;
  line-height: 22px;
  -webkit-font-smoothing: initial;
  margin-bottom: 35px;
}

.b-signup-7 {
  padding: 110px 40px 50px 40px;
}

.b-question-self {
  display: none;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 200ms;
}

.b-question-self--expanded {
  transform: scaleY(1);
}

.b-question-30 {
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
}

.b-question-31 {
  padding: 0 15px 15px 15px;
}

.b-modal[name=request] .modal-dialog {
  margin-top: 120px;
}

.b-request-10 {
  line-height: 38px;
  font-weight: normal;
  margin: 0;
  float: left;
  padding: 0 3px 0 8px;
}

.btn-default .fa {
  color: #989898;
}

.b-profile-rate-row {
  display: inline;
}

.b-profile-rate-row:hover .fa-star {
  color: #F75B36 !important;
}

.b-profile-rate-row .fa-star:hover ~ .fa-star {
  color: #D2D9DC !important;
}

.b-profile-40 {
  padding: 5px 8px 3px 8px !important;
  display: inline-block;
  margin-left: 2px;
}

.b-profile-41 {
  margin-top: 25px;
}

.chat-main-box .chat-right-aside {
  margin-left: 0;
}

.chat-list .chat-body {
  font-size: 14px;
}

.chat-list .chat-text h4 {
  font-size: 14px;
  font-weight: 500;
}

.chat-list .odd .chat-body {
  text-align: left;
}

.chat-list .chat-text b {
  font-weight: normal;
  font-size: 12px;
}

.chat-list .chat-text {
  display: block;
}

.chat-list .chat-text p {
  line-height: 19px;
}

.chat-list .odd .chat-text {
  background: #4F5467;
}

.chat-list .chat-image {
  width: 40px;
}

.chat-main-box .chat-right-aside .send-chat-box .form-control {
  border: 1px solid rgba(0,0,0,.1);
  padding: 12px;
  height: 100px;
}

.chat-main-box .chat-right-aside .send-chat-box .custom-send {
  right:17px;
}

.chat-image {
  display: none !important;
}

.chat-list .chat-body {
  margin: 0 !important;
}

.chat-list .chat-text h4 {
  color: #2b2b2b;
}

.b-user-network-0 {
  margin: -10px -15px 0 -5px;
}

.b-user-network-1 .panel-user-card {
  border: 1px solid rgba(0,0,0,.075) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) !important;
}

.font-bold {
  font-weight: 500;
}

.text-danger {
  color: #F75B36;
}

.b-profile-50 .opinion-images img {
  width: 30px !important;
  height: 30px !important;
  margin-top: 3px;
}

.b-profile-request-0 {
  /*background: #00C292;*/
  font-size: 14px;
}

.b-profile-request-1 {
  font-size: 15px;
}

.b-profile-request-2 {
  font-size: 15px !important;
}

.b-profile-request-3 {
  padding-left: 38px;
  position: relative;
}

.b-profile-request-3 p {
  line-height: 21px;
  margin-bottom: 8px;
}

.b-profile-request-3:before {
  content: '‘‘';
  font-family: Arial, sans-serif;
  display: block;
  opacity: .2;
  font-size: 54px;
  position: absolute;
  top: 3px;
  left: -3px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: -0.04em;
}

.b-profile-request-message {
  transform: scaleY(1);
  transform-origin: top;
  transition: ease 300ms;
}

.b-profile-request-message--collapsed {
  opacity: 0;
}

.b-news-30 {
  font-size: 14px;
  background: none;
  padding: 13px 0 11px 0;
  margin-bottom: 20px;
}

.b-news-30:hover,
.b-news-30:active,
.b-news-30:focus {
  background: none;
}

.b-ghost-signup-link {
  position: relative;
  height: 200px;
  margin-top: 20px;
  display: block;
  cursor: default;
}
