RewriteEngine On
RewriteRule ^(([^/]+/)*[^./]+)/?$ $1.php
RewriteRule ^users/* user.php

RedirectMatch /users/45/mentors /my-mentors
RedirectMatch /users/45/mentees /my-mentees
RedirectMatch /users/45/* /my-profile
